
.heding{
    border: 2px solid black;
}
.Basictag{
    margin-top: 5px;
    border: 2px solid black;
}
.ordered_list{
    display: flex;

}
.unordered_list{
    display: flex;
}
.formatingtags{
    margin-top: 5px;
    border: 2px solid black;
}
.iframe{
    margin-top: 5px;
    border: 2px solid black;
}
.list_tag{
    margin-top: 5px;
    border: 2px solid black;
}
.media_tag{
    margin-top: 5px;
    border: 2px solid black; 
}

.color{
    margin-top: 5px;
    border: 2px solid black;
}

h3{
    color: rgba(125, 5, 125, 15);
}
h4{
    color: hsl(21, 57%, 46%);
}
h5{
    color: hsla(0, 100%, 50%, 0.1);
}
.gradient{
    display: flex;
}
.gradient1{
    height: 300px;
    width: 500px;
    border: 2px solid black;
    background-image: linear-gradient(red,yellow);
}
.gradient2{
    height: 300px;
    width: 500px;
    border: 2px solid black;
    background-image:repeating-linear-gradient(red,yellow,blue);

}
.gradient3{
    height: 300px;
    width: 500px;
    border: 2px solid black;
    background-image:repeating-linear-gradient(to top right, red,blue 50%,yellow ) ;

}
.gradient4{
    height: 300px;
    width: 500px;
    border: 2px solid black;
    background-image: radial-gradient(red,yellow);
    

}
.gradient5{
    height: 300px;
    width: 500px;
    border: 2px solid black;
    background-image:repeating-radial-gradient(red,yellow,blue,red,yellow,blue,red,yellow,blue);

}
.gradient6{
    height: 300px;
    width: 500px;
    border: 2px solid black;
    background-image:conic-gradient(red,blue,yellow ,red,blue,yellow ) ;

}

.box-model{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    background-color: antiquewhite;
    padding:50px 50px 50px 50px;
    box-sizing: border-box;
  
    margin: 100px 100px 100px 100px;
    box-shadow: 20px 20px 30px black;
    overflow: scroll;
   
}
.box-model p::after{
   content: url(symbol_link);
    
    
    
}
.flex{

    height: 210px;
    padding: 20px;
    display: flex;
    border: 2px solid black;
}
.flexdirection{
    height: 200PX;
    width: 150PX;
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
}
.flexdirection1{
    height: 200PX;
    width: 150PX;
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}
.box1{
    background-color: antiquewhite;
    transform: rotate(30deg);
}
.box2{
    background-color: aqua;
    transform: translate(20deg);
}
.box3{
    background-color: aquamarine;
    transform: skew(20deg,30deg);
}
.box4{
    background-color: blueviolet;
    transform: scale(1,2);
}